@import "tailwindcss";

@theme {
  --color-xdas-purple-100: #E0AAFF; /* Custom CSS Variable for the color */
  --color-xdas-purple-200: #C77DFF;
  --color-xdas-purple-300: #9D4EDD;
  --color-xdas-purple-400: #7B2CBF;
  --color-xdas-purple-500: #5A189A;
  --color-xdas-purple-600: #3C096C;
  --color-xdas-purple-700: #240046;
  --color-xdas-purple-800: #10002B;
}
