@import "tailwindcss";






@theme inline {
  --font-bebas: 'Bebas Neue', 'sans-serif';
  --font-EBGaramond:"EB Garamond", 'serif';
  --font-IBMPlexSerif:"IBM Plex Serif", serif;
  --font-Montserrat :"Montserrat", 'sans-serif';
  --color-xdas-purple-100: #E0AAFF; 
  --color-xdas-purple-200: #C77DFF;
  --color-xdas-purple-300: #9D4EDD;
  --color-xdas-purple-400: #7B2CBF;
  --color-xdas-purple-500: #5A189A;
  --color-xdas-purple-600: #3C096C;
  --color-xdas-purple-700: #240046;
  --color-xdas-purple-800: #10002B;
}
::selection {
  @apply text-white bg-xdas-purple-400; 
}
::-moz-selection {
  @apply text-white bg-xdas-purple-400; 
}